body{
    background-color: rgb(113, 220, 151);
    color: rgb(124, 2, 25);
    text-align: center;
    margin: 100px 0;
    font-size: larger;

}
main{
    max-width: 90%;
}
 button{
    background-color: antiquewhite;
    color: rgb(5, 54, 97);
    padding: 10px;
 }